# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a18167027ad56a92866a744ab5796492e56d185105311605ce5fda2d4559cd087c0937c787d5c00e84beef61ed58ab3308c0ca0794565016679465b82b5fa4c6
  smsc:
    login: dapi
    password: password
    sender: Kiiiosk

test:
  secret_key_base: 9d5a8a656dde868030c597f2c3d356bfb536bc3b81ad94cc9750bcb9c502d4812fdd38bc7193eca9112baabead9c1761d0f376caf7348bc458bf2362e7cd6de1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  smsc:
    login: dapi
    password: password
    sender: OneClick
